.bg-yellow {
    background-color: #FFE600;
}

.nav-menu {
    display: flex;
    list-style-type: none;
    padding: 0
}

.nav-menu li {
    margin-right: 20px;
}

.w-33 {
    width: 33%;
}

.w-66 {
    width: 66%;
}

